<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @format.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @format.description %>
</p>

<%= link_to 'Edit', edit_format_path(@format) %> |
<%= link_to 'Back', formats_path %>
